body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

label {
  width: 80px;
  
}

select,
input[type="file"],
input[type="date"] {
  padding: 5px;
  margin: 10px 20px 10px 0;
  border-radius: 3px;
  border: 1px solid #ccc;
}

input[type="submit"] {
  padding: 5px 10px;
  margin-left: 10px;
  border-radius: 3px;
  border: none;
  background-color: #008CBA;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #005f75;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #008CBA;
  color: #fff;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: #008CBA;
}

a:hover {
  text-decoration: underline;
}

.form-group {
    display: flex;
    flex-direction: column;
}