body {
    background-color: #FFF; /*#EFEFFF*/
    font-family: Calibri, sans-serif;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    margin-bottom: 20px;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 16px;
    transition: 0.3s;
    font-size: 17px;
    display: flex;
    align-items: center;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #ccc;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    background-color: #fff;
}

.tabcontent.show {
    display: block;
}

.profile {
    float: right;
}


.profile button {
    margin-left: 10px;
}

html, body {
    height: 87%;
    margin: 0;
    padding: 0;
}

#campus, #school,#classroom,#admin, #teacher, #profile, #home{
    height: 100%;
}

#campus table, #school table,#classroom table,#admin table, #teacher table, #profile table,#home table{
    width: 100%;
    height: 100%;
}

#campus .menu, #school .menu,#classroom .menu,#admin .menu, #teacher .menu, #profile .menu {
    width: 13%;
    vertical-align: top;
}

#campus .iframtd, #school .iframtd,#classroom .iframtd,#admin .iframtd, #teacher .iframtd, #profile .iframtd {
    position: relative;
    width: 87%;
    height: 100%;
}

#campus .iframtd iframe, #school .iframtd iframe,#classroom .iframtd iframe,#admin .iframtd iframe, #teacher .iframtd iframe, #profile .iframtd iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border:none;
}

.accordion {
    width: 100%;
    max-width: 250px;
}

.accordion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    background-color: #f1f1f1;
}

.accordion-header a {
    text-decoration: none;
    color: black;
}

.accordion-icon {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    border-color: #666 transparent transparent transparent;
    transition: transform 0.2s ease-in-out;
}

.accordion-header.active .accordion-icon {
    transform: rotate(180deg);
}

.accordion-content {
    padding: 10px;
    display: none;
}

.accordion-item.active .accordion-content {
    display: block;
}

.lang-selector {
    float: right;
}

.en {
    display: block;
}

.zh {
    display: none;
}

table{
    border-top:3px #FFD382 solid;
    border-bottom:3px #82FFFF solid;
}

td{
    border-left: 1px dashed #a2a9b6;
}

a {
    text-decoration: none;
}

a:visited {
    color: black;
}

.clock {
    display: inline-block;
    margin-left: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #333;
}

.inner-div {
    margin-top: 20px;
}

.box {
    border: 2px solid #ccc;
    padding: 10px;
    height: 500px;
}

.box p{
   font-size: 20px;
}

.websites-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    overflow-x: auto;
}

.website-link {
    margin: 15px;
    text-align: center;
    text-decoration: none;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.website-link:hover {
    color: #FF0000;
}

.website-link img {
    width: 75px;
    height: 75px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

 #iframe_home {
    display: none;
    width: 100%;
    height: 500px;
    border: none;
  }

  #close-btn {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
  }


